page-home {
.head{
    height:120px;
    width: 250px;
  }
  .imagen{
   height: 170px;
   width: 270px;
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;

  }
  .misiones{
  	height: 150px;
    width: 250px;
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
  }


}
